* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.859), rgba(0, 0, 0, 0.882)), url(../images/fondopag2.jpg);
}

button {
  font-size: 11px;
  font-weight: bold;
  padding: 2px 15px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 2px 2px 10px black;
}
button:hover {
  background-color: rgb(205, 205, 205);
}

.masinfo {
  text-align: center;
}

.cartas {
  padding: 20px;
}

/* INICIO */
.contenedorcards {
  color: black;
  background: linear-gradient(90deg, hsl(242, 27%, 80%) 0%, hsl(227, 20%, 50%) 100%);
  padding: 20px;
  display: grid;
  grid-template-areas: "card1 card2 card3";
}

.card1 {
  grid-area: card1;
}
.card1 ul {
  background: linear-gradient(90deg, hsl(205, 46%, 10%) 0%, hsl(191, 28%, 23%) 50%, hsl(207, 41%, 27%) 100%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 6px;
  margin: 10px;
}
.card1 li {
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

.card2 {
  grid-area: card2;
}
.card2 ul {
  background: linear-gradient(90deg, hsl(205, 46%, 10%) 0%, hsl(191, 28%, 23%) 50%, hsl(207, 41%, 27%) 100%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 6px;
  margin: 10px;
}
.card2 li {
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

.card3 {
  grid-area: card3;
  background: linear-gradient(90deg, hsl(205, 46%, 10%) 0%, hsl(191, 28%, 23%) 50%, hsl(207, 41%, 27%) 100%);
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.846);
  border-radius: 6px;
  margin: 10px;
}
.card3 p {
  padding: 5px;
  font-weight: bold;
  color: rgb(238, 238, 238);
}

.claves {
  text-align: center;
  background: linear-gradient(90deg, hsl(242, 27%, 80%) 0%, hsl(227, 20%, 50%) 100%);
  padding: 8px;
}
.claves h3 {
  font-size: 20px;
}

footer {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, hsl(198, 65%, 18%) 0%, hsl(178, 44%, 14%) 100%);
  padding-top: 50px;
  color: white;
}
footer .footerColumns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
  margin-bottom: 50px;
}
footer .footerColumns .infoContacto p {
  font-size: 15px;
}

.importancia {
  text-align: left;
  padding: 10px;
  background: white;
  color: black;
}

/* CONTACTO */
#contactame {
  color: white;
}

fieldset {
  display: flex;
  flex-direction: column;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
  border-style: groove;
  border-color: rgb(192, 192, 192);
  border-image: initial;
  margin-top: 1%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 100px;
}

#titulo-contacto {
  color: white;
}

input {
  border-radius: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

#contactame label {
  margin-left: 30px;
}

legend {
  margin-left: 45px;
}

/* principal */
#hero {
  color: white;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.853)), url("../images/principal.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  margin-top: -80px;
}
#hero h2 {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 15px;
  text-align: center;
  max-width: 70%;
}

/* ECTOMORFO */
#titulo-principal {
  display: inline-block;
  text-align: center;
  color: white;
  height: 90vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.846), rgba(0, 0, 0, 0.853)), url("../images/de-flaco-a-musculoso-4-1024x538.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}

/*MESOMORFO*/
.hero-mesomorfo {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.859), rgba(0, 0, 0, 0.882)), url(../images/principal-mesomorfo.jpg);
  display: inline-block;
  text-align: center;
  color: white;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.hero-mesomorfo h1 {
  margin-top: 80px;
}

/*/ ENDOMORFO */
.hero-endomorfo {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.859), rgba(0, 0, 0, 0.882)), url(../images/principal-endomorfo.jpg);
  display: inline-block;
  text-align: center;
  color: white;
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
}
.hero-endomorfo h1 {
  margin-top: 80px;
}

.nav-link {
  color: white;
  font-weight: bold;
}

.navbar-brand {
  color: azure;
  font-weight: bold;
}

.navbar-toggler {
  background-color: white;
}

.bg-body-tertiary {
  background-image: url(../../images/header.jpg);
}

.navbar-nav {
  align-items: flex-end;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.contenedor-comida h2 {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 20px;
  text-decoration: underline;
}

.contenedor-comida {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  background: linear-gradient(90deg, hsl(205, 46%, 10%) 0%, hsl(191, 28%, 23%) 50%, hsl(207, 41%, 27%) 100%);
  border-radius: 40px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding-bottom: 2%;
  margin-bottom: 200px;
  margin-top: 50px;
}

.contenedor-comida img {
  padding: 20px;
  width: 30%;
  margin-top: 20px;
  float: right;
  border-radius: 60px;
}

.contenedor-comida .carne {
  height: 220px;
}

.contenedor-comida .avena {
  height: 220px;
}

.contenedor-comida p {
  color: white;
  padding: 20px;
}

h3 {
  font-size: 32px;
}

h6 {
  font-size: 1.1rem;
  font-family: "Courier New", Courier, monospace;
  border-bottom: 2px solid rgb(0, 170, 255);
  display: inline-block;
  margin-left: 5px;
}

h1 {
  font-size: 100px;
  text-align: center;
  padding-top: 100px;
  margin-top: 80px;
}

/* combinacion mesomorfoID */
#combinacion {
  text-align: left;
  padding: 10px;
  background-color: rgba(186, 188, 197, 0.767);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#combinacion p {
  font-size: 16px;
}

@media only screen and (max-width: 1050px) {
  .contenedorcards {
    grid-template-areas: "card1 card2" "card3 card3";
    padding: 20px;
  }
}
@media only screen and (max-width: 1028px) {
  h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 946px) {
  h1 {
    font-size: 4rem;
  }
  #hero {
    margin-top: -5rem;
  }
  .contenedor-comida {
    width: 90%;
  }
  .contenedor-comida img {
    width: 50%;
  }
}
@media only screen and (max-width: 670px) {
  .contenedor-comida img {
    width: 0%;
  }
}
@media only screen and (max-width: 507px) {
  h1 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 486px) {
  .contenedorcards {
    grid-template-areas: "card1 card1" "card2 card2" "card3 card3";
    padding: 20px;
  }
}
@media only screen and (max-width: 390px) {
  .footerColumns {
    flex-direction: column;
  }
}
@media only screen and (max-width: 350px) {
  footer .footerColumns .copyright p {
    font-size: 15px;
  }
  .card3 p {
    font-size: 0.7rem;
  }
  .card1 ul li {
    font-size: 0.8rem;
  }
  .card2 ul li {
    font-size: 0.8rem;
  }
  .enlaces h4 {
    font-size: 0.8rem;
    padding: 10px;
  }
}
@media only screen and (max-width: 344px) {
  h1 {
    font-size: 2.7rem;
  }
}

/*# sourceMappingURL=style.css.map */
