footer {
    display: flex;
    align-items: center;
    background: linear-gradient(90deg, hsla(198, 65%, 18%, 1) 0%, hsla(178, 44%, 14%, 1) 100%);
    padding-top: 50px;
    color: white;
    .footerColumns {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0 20px;
        margin-bottom: 50px;
    }

    .footerColumns .infoContacto p{
        font-size: 15px;
    }

}
