.nav-link {
    color: white;
    font-weight: bold;
}

.navbar-brand {
    color: azure;
    font-weight: bold;
}

.navbar-toggler{
    background-color: white;
}

.bg-body-tertiary{
    background-image: url(../images/header.jpg);
}   

.navbar-nav {
    align-items: flex-end;
}