.claves{
    text-align: center;
    background: linear-gradient(90deg, rgba(4, 3, 37, 0.822) 0%, rgba(10, 17, 39, 0.76) 100%);
    padding: 8px;

    h3{
        font-size: 20px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.774);
        padding: 15px;
    }
}
